// @ font-face imports here

// Font face
// ======================

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('https://s3-ap-southeast-2.amazonaws.com/slik-fonts/proximanova/proximanova-light-webfont.eot');
    src: url('https://s3-ap-southeast-2.amazonaws.com/slik-fonts/proximanova/proximanova-light-webfont?#iefix') format('embedded-opentype'),
         url('https://s3-ap-southeast-2.amazonaws.com/slik-fonts/proximanova/proximanova-light-webfont.woff') format('woff'),
         url('https://s3-ap-southeast-2.amazonaws.com/slik-fonts/proximanova/proximanova-light-webfont.ttf') format('ttf'),
         url('https://s3-ap-southeast-2.amazonaws.com/slik-fonts/proximanova/proximanova-light-webfont.svg') format('svg');
    font-weight:  700;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('https://s3-ap-southeast-2.amazonaws.com/slik-fonts/proximanova/proximanova-semibold-webfont.eot');
    src: url('https://s3-ap-southeast-2.amazonaws.com/slik-fonts/proximanova/proximanova-semibold-webfont?#iefix') format('embedded-opentype'),
         url('https://s3-ap-southeast-2.amazonaws.com/slik-fonts/proximanova/proximanova-semibold-webfont.woff') format('woff'),
         url('https://s3-ap-southeast-2.amazonaws.com/slik-fonts/proximanova/proximanova-semibold-webfont.woff2') format('woff2'),
         url('https://s3-ap-southeast-2.amazonaws.com/slik-fonts/proximanova/proximanova-semibold-webfont.ttf') format('ttf'),
         url('https://s3-ap-southeast-2.amazonaws.com/slik-fonts/proximanova/proximanova-semibold-webfont.svg') format('svg');
    font-weight:  700;
    font-style:   normal;
    font-stretch: normal;
}

body {
    font-family: Helvetica,'Arial',sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica,'Arial',sans-serif;
    margin: 0;
    padding: 0;
}
